.blog_container {
    margin: 5vh auto;
    justify-content: center;
    max-width: 80%;
}

.blog_card {
    max-width: 100%;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(4, 1fr)
}

.card_body {
    background: white;
    margin: 10px;
    border-radius: 25px;
    padding: 0 10px 0 10px;
}



.card_date {
    font-family: 'Merriweather',
    serif;
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
    font-size: 20px;
    padding-bottom: 20px;
}

.card_title {
    font-family: 'Merriweather',
    serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 26px;
    padding-bottom: 20px;
}

.card_body p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
}

p.card_author {
    font-size: 15px;
    padding-top: 15px;

}


.footer-blog {
    position: relative;
    left: 0;
    padding: 2px;
    top: 100px;
    width: 100%;
    color: #78797d;
    font-size: 14px;
    text-align: center;
}

.footer-blog .fa {
    color: #7f5feb;;
}

.nav {
    display: flex;
    background-color: #022539;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
}

.header-blog {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav-blog {
    display: flex;
    background-color: #022539;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
    padding-top: 10px;
}