.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blog_popup_bigbox {
    border-radius: 25px;
    width: 50%;
    padding: 20px;
    margin: auto;
    position: fixed;
    left: 28%;
    top: 25%;
    line-height: 1.5;
    display: block;
    vertical-align: middle;
    min-height: 100vh;
    z-index: +2;

}

.blog_popup_smallbox {
    background: pink;
    height: 500px;
    width: 300px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 25px;
}

.description_column {
    padding: 20px;
    height: 500px;
    width: 500px;
    background: pink;
    font-weight: bold;
    font-size: medium;
    overflow-y: auto;
    border-radius: 0 25px 25px 0;
}

.addBlog_popup_bigbox {
    border-radius: 25px;
    width: 50%;
    padding: 20px;
    margin: auto;
    position: fixed;
    left: 40%;
    top: 0;
    line-height: 1.2;
    display: block;
    vertical-align: middle;
    min-height: 100vh;
    z-index: +2;
}

.editBlogBox {
    color: white;
    font-size: medium;
    border-radius: 25px;
    border: black 50px;
    background: cornflowerblue;
    padding: 20px;
    margin: 20px;
    min-width: 30%;
    text-align: center;
    position: fixed;
    left: 33%;
    top: 25%;
    line-height: 2;
    display: block;
    vertical-align: middle;
    z-index: +3;

}

.editBlogBox textarea {
    resize: none;
    width: 400px;
    height: 200px;
}

.deleteWarningBox {
    font-size: medium;
    border-radius: 25px;
    border: 2px solid black;
    background-color: #12d2e3;
    padding: 20px;
    margin: 40px;
    min-height: 30%;
    min-width: 30%;
    text-align: center;
    position: fixed;
    left: 33%;
    top: 25%;
    line-height: 1.5;
    display: block;
    vertical-align: middle;
    z-index: +4;
}